<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <title> Aberdeen Study Group Reprothon </title>
  </head>
		
    <body>
<div id="header_wrap" class="outer">
    <header class="inner">
      <a id="forkme_banner" href="{{ site.baseurl }}">View on GitHub</a>
      <h1 id="project_title">{{ site.title | default: site.baseurl }}</h1>
        {% if site.logo %}
          <img src="{{ site.baseurl | replace:'http:','https:' }}/svg-files/asg_logo.png" alt="Logo" />
        {% endif %}
	
      <p style="text-align: center; background-color: blue;">
                <a href="{{ site.baseurl }}/">Home</a> |
                <a href="{{ site.baseurl }}/about.md">Aberdeen Study Group</a> |
                <a href="{{ site.baseurl }}/Testing1.md">Contributor</a> |
                <a href="{{ site.baseurl }}/contact.md">Contact</a> |
                <a href="{{ site.baseurl }}/sheet.html">Results</a> 
      </p>      
    </header>
</div>      
    {{ content }}
  </body>
 	  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <a href="https://www.mozillascience.org">
            <img src="{{ site.baseurl | replace:'http:','https:' }}/svg-files/ScienceLabSticker.ai.png" class="img-responsive img-centered" alt="">
          </a>
		  <a href="https://twitter.com/abdnStudyGroup">
            <img src="{{ site.baseurl | replace:'http:','https:' }}/svg-files/twitter-logo-2429.svg" class="img-responsive img-centered" alt="">
          </a>
		  <a href="https://github.com/AberdeenStudyGroup/Reprothon2021">
            <img src="{{ site.baseurl | replace:'http:','https:' }}/svg-files/GitHub-Mark-64px.png" class="img-responsive img-centered" alt="">
          </a>
        </div>
      </div>
    </div>
  </footer> 
  
</html>
