<!DOCTYPE html>
<html>
  <head>
    <title> </title>
  </head>
  <body>
    <header>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/about.md">Aberdeen Study Group</a></li>
                <li><a href="{{ site.baseurl }}/Testing1.md">Contributor</a></li>
                <li><a href="{{ site.baseurl }}/contact.md">Contact</a></li>
                <li><a href="{{ site.baseurl }}/sheet.html">Results</a></li>
              </ul>
            </div>      
    </header> 
    {{ content }}
  </body>
</html>
