<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="Aberdeen Study Group Reprothon" content="width=device-width, initial-scale=1">
</head>
    <body>
    <header>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/about.md">Aberdeen Study Group</a></li>
                <li><a href="{{ site.baseurl }}/Testing1.md">Contributor</a></li>
                <li><a href="{{ site.baseurl }}/contact.md">Contact</a></li>
                <li><a href="{{ site.baseurl }}/sheet.html">Results</a></li>
              </ul>
            </div>      
    </header> 
    {{ content }}
  </body>
</html>
